[user]
	email = 
	name = 
[core]
	# true: checkout as CRLF and commit as LF
	# input: checkout as is and commit as LF
	# false: checkout as is and commit as is
	autoclrf = false
	editor = vim
[pull]
	rebase = true
[merge]
	conflictstyle = diff3
[submodule]
	recurse = true
# use a particular .gitconfig if at a certain repo
[includeIf "gitdir:~/git/example"]
	path = "~/.gitconfig-example"
[alias]
	ca = "commit --amend"
